<div class="container">
	  <div class="page-header">
	   <br>
	   <h1>FUNDs</h1>
<h5>Financially United Numismatic Dudes</h5><br>
<h1>Editing Expense</h1>
   </div>
   </div>
<%= render 'form' %>
<%= link_to 'Back', controller: 'expenses' %>
<br><%= link_to 'Log Out', controller: 'session' %>

<Footer class="background">
    <div class="footer">
        <p>&#169; 2019 Financially United Numismatic Dudes</p>
    </div>
</Footer>